
body{
    margin: 0;
    padding: 0;    
    
    height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}




.center{
    margin-left: 100px;
    position: absolute;
    width: 400px;
    background: white;
    border-radius: 10px;
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
     
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .text_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.text_field input{
    width: 100%;
    padding: 0 5px;
    height:40px;
    font-size: 16px;
    border : none;
    background: none;
    outline: none;
}

.text_field label{
    position: absolute;
    top: 50%;
    left:5px;
    color: #adadad;
    transform:translateY(-50%) ;
    transition: .5s;
}

.text_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left:0;
    width:0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.text_field input:focus ~ label,
.text_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}

.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before{
    width:100%;

}

.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor:pointer;
    outline:none;
    margin: 3px;

}

input[type="submit"]:hover{
    border-color:#2691d9 ;
    transition: .5s;
    
}

.signup_link{

    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;

}

.signup_link a{

    color: #2691d9;
    text-decoration: none;
}

.signup_link a{
    text-decoration: underline;
}

.left{
    
    height: 100vh;
    width:48%;
    padding-top: 150px;
    border-right: 2px solid;
    float: right;
}

.right{
    
    display: inline-block; /* or width: 100%; */ 
    position: relative; /* Ensure the div is positioned */
    height: 100vh;
    width:48%;
    padding-top: 100px;
    border-right: 2px solid;
    overflow: hidden;
    justify-content: center;
    
    
}

#home_img{
    
    width: 100%;
    opacity: 0.6;
    justify-content: center;
    

}

.right h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    
}



#Signup{
    background-color: #a6a6a6;
}

#Signup:hover{
    background: #2691d9;

}


.upload_student_info{
    
    border:2px solid;
    padding: 10px;
    position: absolute;
    width: 950px;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.upload_student_info form{
    padding: 100px 150px 150px 130px;
    box-sizing: border-box;
    
    justify-content: center;
    
}

#stud_inp{
    
    
    padding: 0 10px;
    height:40px;
    font-size: 16px;    
    

}

.signup_div{

    display: flex;
    justify-content: center;
    margin-top: 200px;
    
}

.upload_student_info label{
    display: inline-block;
    width: 140px;
    text-align: left;
    font-size: 25px;
}

.view_stud{
    border: 2px solid;
    

    
}

.view_stud th, .view_stud td  {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 25%;
    height: 10px;
    
}


.viewtable{
    
    position: fixed;
    
    margin-top: 120px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.acad_div{
    
    width: 1000px;
    height: 700px;
    margin-top: 10px;
    padding-top: 50px;
    padding-left: 20px;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#acad_but{
    width: 50%;
    height: 50px;
    border: 1px solid;
    background: red;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor:pointer;
    outline:none;
    margin: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Marks{
    margin-top: 50px;
    padding-top: 50px;
    height: 350px;
    width: 650px;
    
    position: relative;
    left: 15%;
    top: 50%;
    padding-left: 50px;
    border: 2px solid;
    border-radius: 20px;
}

.Marks label{
    display: inline-block;
    width: 220px;
    text-align: left;
    font-size: 25px;
    

}

.acad_info{
    padding: 20px;
}

.acad_info label{
    font-size: 25px;
}

.acad_body{
    margin: 0;
    padding: 0;    
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

    height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}


.navbar ul{
    list-style-type: none;
    background-color: #2691d9;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #dddddd;

}

.navbar li{
    float: right ;
}


.main_st_home{
    
    display: flex;
    justify-content: center;
    align-items: center;

}



.view_student_marks{
    border: 2px solid;
    width:50%;
    

    
}

.view_student_marks th, .view_student_marks td  {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 25%;
    height: 10px;
    
}

.table_body{
    background: url('html_table.jpg') center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(7px);    
    

}

table,th,td{
    padding: 1rem;
    text-align: center;
    border-collapse: collapse;

}
main.table{
    width: 82vw;
    height: 90vh;
    background-color: #fff5;
    border-radius: .8rem;

}

.table__header{
    width: 100%;
    height: 10%;
    padding: .8rem 1rem;
    
}

.table__body{
    width:50%;
    margin:.8rem auto;
    border-radius: .6rem;
    
}

.table__body thead{
    background-color:#fff7;
    overflow: hidden;
}

.table__body table{
    
    justify-content: center;
    align-items: center;
}
 
.student_create{
    background: url('student_view.jpg') center/cover;   
}

.student_info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}

.upload_student_info{
    background-color:#fff7;
}

.main_index{
    background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,231,233,0.9500175070028011) 100%);
}