{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="main_index">
    
    <div class="left">
        
    <div class="center" id="signupForm">
        <h1>Signup</h1>
        {%if messages %}
        <div>
            {%for message in messages %}

            <h5>{{message}}</h5>
            {%endfor%}
        </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data" action="/">

                {% csrf_token %}
                <div class="text_field">
                    <input type="email" name="email"required>
                    <span></span>
                    <label>Email</label>  
                </div>
                <div class="text_field">
                    <input type="text"  name="Username" required>
                    <span></span>
                    <label>Username</label>  
                </div>
                <div class="text_field">
                    <input type="password" name="password"  required>
                    <span></span>
                    <label>Password</label>  
                </div>
                <div class="text_field">
                    <input type="name" name="name"  required>
                    <span></span>
                    <label>name</label>  
                </div>
                <div class="text_field">
                    <input type="Class" name="Class"  required>
                    <span></span>
                    <label>Class</label>  
                </div>
                <div class="text_field">
                    <input type="Place" name="Place"  required>
                    <span></span>
                    <label>Place</label>  
                </div>
                <div class="text_field">
                    <input type="phone" name="phone"  required>
                    <span></span>
                    <label>phone</label>  
                </div>
                
                
                <div class="pass">
                    Forgot Password?
                </div>
                <input type="submit" value="Signup" id="Signup" name="Register">
                <input type="button" value="Login" id="Logins">
                
                
                <br>
                <br>
            
            </form>
            
    </div>
            <div class="center" id="loginForm" style="display:none;">
                <h1>Login</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="text_field">
                        <input type="text" name="Username" required>
                        <span></span>
                        <label>Username</label>  
                    </div>
                    <div class="text_field">
                        <input type="password" name="password" required>
                        <span></span>
                        <label>Password</label>  
                    </div>
                    <div class="pass">
                        Forgot Password?
                    </div>
                    <input type="submit" value="Login" id="Login" name="user-login">
                    <input type="button" value="Signup" id="Signups">
                </form>

            <br>
            <br>
            </div>

        
            
            
        </div>

        

        
        <div class="right"> 
            <h1>Student Management System</h1>
            <img src="{% static 'images/students.png' %}" id="home_img">       
            
                </div>
        
    
                * 
             <script>

                let signup=document.getElementById("Signups")
                
                signup.addEventListener("click",function(){
                    let center=document.getElementById("signupForm");
                    let login=document.getElementById("loginForm");
        
                    center.style.display="block";
                    login.style.display="none";
                })
                
                let login=document.getElementById("Logins")
                
                login.addEventListener("click",function(){
                    let center=document.getElementById("signupForm");
                    let login=document.getElementById("loginForm");
        
                    login.style.display="block";
                    center.style.display="none";
                })
                
        
            </script>   
</body>
</html>
