{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
        
    </style>

</head>
<body class="student_create">

    <div class="student_info">
    <div class="upload_student_info">
        <form method="post">
            {% csrf_token %}
            <label>Student  ID</label><input type="text" id ="stud_inp" name="student_id"  value="{{instance.student_id}}">
            <br><br>
            <label>Name</label><input type="text" id ="stud_inp" name="name" value="{{instance.name}}">
            <br><br>
            <label>Class</label><input type="text" id ="stud_inp" name="Class" value="{{instance.Class}}">
            <br><br>
            <label>Place</label><input type="text" id ="stud_inp" name="Place" value="{{instance.Place}}">
            <br><br>
            <label>Phone</label><input type="text" id ="stud_inp" name="phone" value="{{instance.phone}}">
            <br><br>
            <input type="submit" value="Update">
            
        </form>
        

        <a href="{% url 'view' %}" class="button-link"><button>View Students</button></a>

    </div>

</div>
    
</body>
</html>