{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="table_body">
    <main class="table">
        <section class="table__header">
        <h1>Student info</h1>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Student id</th>
                    <th>Place</th>
                    <th>Phone</th>
                    
                    <th colspan="2">Update Info</th>
                    <th>Delete User</th>
                    
                </tr>
            </thead>
            <tbody>
                {%for student in studs%}
    <tr>
        <td>{{student.name | lower}}</td>
        <td>{{student.Class | lower}}</td>    
        <td>{{student.student_id | lower}}</td>
        <td>{{student.Place | lower}}</td>
        <td>{{student.phone | lower}}</td>
        
        <td><a href="{%url 'edit' student.id %}">Update Info</a></td>
        <td><a href="{%url 'Academics' student.id %}">Update Academics</a></td>
        <td><a href="{%url 'delete-user' student.id %}">Delete</a></td>
        
    </tr>
    {%endfor%}
            </tbody>
        </table>
    </section>
    </main>
    
    
   





</body>
</html>